.mp__wrapper{
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;

  @media screen and (max-width: 699px) {
    flex-flow: row wrap;
  }

  .mp__poster{

  }

  .mp__info{
    margin-left: 40px;

    div{
      margin: 20px 0;
    }
  }
}
