<mp-layout>

  <form [formGroup]="movieForm" (submit)="postData(movieForm, $event)">

    <table>
      <tr>
        <td><label for="add__title">Movie Title</label></td>
        <td><input type="text" id="add__title" name="movie-title" formControlName="title"></td>
      </tr>

      <tr>
        <td> <label for="add__posterUrl">Movie poster url</label></td>
        <td><input type="url" id="add__posterUrl" name="poster-url" formControlName="poster"></td>
      </tr>

      <tr>
        <td><label for="add__director">Director: </label></td>
        <td><input type="text" id="add__director" name="add director" formControlName="director"></td>
      </tr>
      <tr>
        <td><label for="add__actors">Actors</label></td>
        <td><input type="text" id="add__actors" name="add actors" formControlName="actors"></td>
      </tr>
      <tr>
        <td><label for="add__genres">Genres</label></td>
        <td><input type="text" id="add__genres" name="add__genres" formControlName="genres"></td>
      </tr>
      <tr>
        <td><label for="add__description">Add movie description</label> </td>
        <td><textarea name="movie description" id="add__description" formControlName="description"></textarea></td>
      </tr>
    </table>

    <button type="submit" [disabled]="movieForm.invalid">Add Movie!</button>
  </form>


  <a href="/movies">Home</a>
</mp-layout>
