.movie-preview{
  padding: 10px;
  height: 100%;

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;

  .left-side{
    width: 30%;
    .movie-preview__poster{
      width: 400px;
      height: 500px;
      margin: 20px 0;
    }
  }

  .right_side{
    width: 70%;

    div{
      margin: 20px 0;
    }
  }
}
