.movie-preview{
  padding: 10px;
  height: 100%;

  .movie__title{
    color: #00838F;
  }

  .movie__title::after{
    content: '';
    display: block;
    clear: both;
  }

  .left-side{
    width: 30%;
    float: left;
    .movie-preview__poster{
      max-width: 400px;
      height: 500px;
      margin: 20px auto;
    }
  }

  .right_side{
    float: right;
    width: 70%;

    div{
      margin: 20px 0;
    }
  }
}
