<div class="container">
  <div class="left_side">
    <div class="movies__controls centered">
      <h3>Filter by</h3>
      <mp-filter-btn (click)="sortMovies('likes')">By Likes</mp-filter-btn>
      <mp-filter-btn (click)="sortMovies('stars')">By Rating</mp-filter-btn>
      <mp-search-filter (onSearch)="searchMovie($event)"></mp-search-filter>
    </div>

    <div class="movies__list">
      <div *ngFor="let movie of movies" class="movie-item__wrapper">
        <mp-movie-item [movie]="movie" (onMovieSelect)="movieSelect($event)"
                       (onLikeChange)="changeLikes($event)"
                        (onChangeRate)="changeRate($event)">
        </mp-movie-item>
      </div>

    </div>
  </div>

  <div class="right-side">
    <mp-movies-detail [movie]="selectedMovie"></mp-movies-detail>
  </div>
</div>


