.container{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  .movies__controls {

    h3, h5{
      margin-bottom: 0;
    }

    h5 a{
      text-decoration: none;
      color: #00838F;

      &:hover{
        text-decoration: underline;
      }
    }
  }

  .movies__list{
    margin-left: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
}



