.likes-block{
  width: 100px;

  .likes-block__title{

  }
  .thumb{
    width: 20px;
    height: 20px;
    margin: 10px 0;
    cursor: pointer;
  }

  .add-dislike{
    transform: rotate(180deg);
  }

  .total-likes{
    margin: 20px 0;
    padding: 5px;
  }
}


