.movie-item{
  padding: 10px;
  display: flex;
  flex-flow: row wrap;
  width: 450px;

  .movie-item__likes{
    align-self: center;
    width: 70px;
  }

  .movie-item__link:hover{
    cursor: pointer;
    color: #00838F;
  }

  .movie-item__poster{
    width: 300px;
    height: 300px;
  }

  .movie-item__rating{
    width: 100%;
    align-self: center;
  }
}


.star.star--active{

}
