<div class="movie-item">
  <div class="movie-item__likes">
    <mp-likes [likes]="movie?.likes" (onChangeLike)="changeLikes($event)"></mp-likes>
  </div>
  <div class="movie-item__info">
    <h5 class="movie-item__title"><a href="#" (click)="selectMovie(movie)" class="movie-item__link">{{movie?.title}}</a></h5>
    <img src="{{movie?.posterUrl}}" alt="poster" class="movie-item__poster">
  </div>
  <div class="movie-item__rating centered">
    Rating: {{movie?.stars}}
    <mp-stars *ngFor="let star of stars" [active]="star <= _rating"
              (rate)="onRate($event)"
              [position]="star"></mp-stars>
  </div>
</div>

